@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #3e784e;
  --secondary: #50a542;
  --up: #2fa15d;
  --down: #A13D2F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-up: var(--up);
  --color-down: var(--down);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3e784e;
    --secondary: #50a542;
    --up: #2fa15d;
    --down: #A13D2F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
